$dark: #262626;

$darkGray: #2e2e2e;
$gray: #404040;
$white: #f4f4f4;
$darkWhite: #838383;

$tabletWidth: 700px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: Rajdhani, sans-serif;
    background: $gray;
    color: $white;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

// --------------------------------------------------

header {
    background: $dark;
    color: $white;
    padding: 1em;

    display: flex;
    flex-direction: column;

    align-items: center;

    position: relative;

    @media screen and (min-width: $tabletWidth) {
        flex-direction: row;
    }

    h1 {
        margin-left: 1rem;
        font-size: 3.4em;

        @media (max-width: 300px) {
            font-size: 2.5em;
        }
    }
    nav {
        display: flex;

        justify-content: space-between;

        padding-top: 1rem;

        width: 100%;

        &:hover {
            ul {
                display: flex;
            }
        }

        #menuButton {
            font-size: 3rem;

            padding-right: 2rem;
            margin-left: auto;
        }

        ul {
            align-items: center;
            gap: 1.5rem;

            margin-right: 2rem;
            margin-left: 2rem;

            font-size: 2rem;
            list-style: none;

            flex-wrap: wrap;

            justify-content: space-evenly;

            max-width: 20rem;

            display: none;
        }

        @media screen and (min-width: $tabletWidth) {
            margin-left: auto;

            width: auto;

            padding-top: 0;

            #menuButton {
                display: none;
            }

            ul {
                display: flex;
                justify-content: none;

                max-width: none;
            }
        }
    }
}

main {
    margin: 2rem;
    flex-grow: 1;

    article {
        h1 {
            font-size: 2.5em;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.5em;
            margin-bottom: 1rem;
        }
    }
}

footer {
    background: $dark;
    color: $white;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 2rem 3rem;
    margin-top: 3rem;

    address {
        font-size: 1.8rem;
    }

    nav {
        // float: right;
        margin-left: auto;

        h2 {
            font-size: 2rem;
        }

        li {
            font-size: 1.5rem;
            color: $darkWhite;

            &:hover {
                color: $white;
            }

            &.mark {
                color: $white;
                list-style: square;
            }
        }
    }
}

// Utility Classes
// --------------------------------------------------

.card {
    background-color: $darkGray;
    padding: 1.8rem;

    border-radius: 1.3rem;
}
