@import "_variables";

@import "components/table.scss";

.author {
    // display: flex;
    flex-wrap: wrap;

    flex-direction: column;
    align-items: center;

    & > div {
        margin-top: 1rem;
    }

    a {
        color: $darkWhite;
        text-decoration: none;

        &:hover {
            color: $lightGray;
        }
    }

    @media screen and (min-width: $desktopWidth) {
        flex-direction: row;
        align-items: stretch;
    }
}

main {
    h1 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        margin-bottom: 1.5rem;
    }
}

// Unique scss for certain elements

#iamwrong:hover {
    > span {
        display: none;
    }

    &:after {
        content: "I am wrong and semantic HTML is actually really annoying :)))";
    }
}

#lightning-bolt-icon {
    margin-top: 1.2rem;
}
